{{!< default}}

{{#post}}
<article class="{{post_class}}">
  <header>
    <div class="post-info">
      <p>
        {{title}}
      </p>
      <time>
        <small>{{date format="DD MMMM YYYY"}}</small>
      </time>
    </div>
    <div class="cropper">
      <img src="{{img_url feature_image}}" />
    </div>
  </header>
  <div class="content">
    <div class="post-markdown">
      {{content}}
  </div>
  </div>
  </div>
</article>
{{/post}}