{{!< default}}

{{#post}}
<article class="{{post_class}}">
  {{image}}
  <header style="background-image: url({{img_url feature_image}});">
    <div>
      <time>
        <small>{{date format="DD MMMM YYYY"}}</small>
      </time>
      <h1>
          {{title}}
      </h1>
    </div>
  </header>
  <div class="content">
      {{content}}
  </div>
  </div>
</article>
{{/post}}